#main {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: flex-start;
}

#main {
    width: 900px;
}

#item-select {
    text-align: left;
    width: 200px;
    min-height: 200px;
    max-height: 400px;
}

#list {
    width: 500px;
    padding: 0px;
    margin: 0;
    list-style: none;
}

#item {
    text-align: center;
    height: 200px;
    width: 150px;
    margin-right: 15px;
    margin-top: 15px;
}

#item img {
    width: 150px;
    height: 150px;
}

#item-list {
    margin-left: 15px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    
}

#pagination-link {
    color: lightgrey;
    text-decoration: underline;
}