#main-container {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    width: 870px;
    padding-right: 0px;
    padding-bottom: 0px;
}

#thumbnail {
    aspect-ratio: 16/9;
    width: 640px;
    height: 360px;
    border-radius: 0.5em;
}

#gametext {
    flex-grow: 1;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    margin: 15px;
    margin-top: 0px;
    height: 360px;
}

#thebelow {
    height: 100%;
    display: flex;
    align-items: flex-end;
}

#playbutton {
    margin: 0px;
    width: 100%;
}

#gametext h2 {
    margin: 0px;
}

#tabs {
    transition: 0.5s;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom: thick solid #32a1ce;
    width: 865px;
}

#tabs a {
    text-decoration: none;
}

#tabbutton {
    color: grey;
    height: 100%;
    width: 100%;
}

#tabbutton a {
    color: grey;
    text-decoration: none;
    
}

#tabcontent {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    width: 865px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
}

.hidden {
    display: none;
}

.card {
    width: 100%;
    margin: 15px;
}

#tabbutton .selected {
    text-decoration: bold;
    color: white;
    height: 100%;
    width: 100%;
}