#main {
    margin-left: 50px;
    margin-right: 50px;
}

#gamecontainer {
    align-items: center;
    border-radius: 0.5em;
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: space-between;
}

#gamelist {
    align-items: center;
    border-radius: 0.5em;
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
}

#game-img {
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    width: 200;
    height: 200px;
}

#game {
    border-radius: 0.5em;
    width: 200px;
    height: 310px;
    transition: 0.2s;
    padding: 0px;
    padding-bottom: 10px;
}

#gameshiz {
    display: flex; 
    flex-direction: column; 
    justify-content: flex-end;
}

#playingtext {
    margin: 10px;
}

#game-text {
    border-radius: 0.5em;
    margin: 10px;
    text-decoration: none;
}

#game:hover {
    transition: 0.2s;
    background-color: #454545;
}

#slideBack {
    border-radius: 0.5em;
    box-shadow: 10px 10px 10px rgba(15, 15, 15, 0.8);
    float: left;
    margin: 0px;
    background-color: #2e2e2e;
    height: 320px;
    width: 30px;
}

#slideBack:hover {
    box-shadow: 10px 10px 10px rgba(15, 15, 15, 0.8);
    background-color: #454545;
}

#slide {
    border-radius: 0.5em;
    box-shadow: 10px 10px 10px rgba(15, 15, 15, 0.8);
    margin: 0px;
    background-color: #2e2e2e;
    height: 320px;
    width: 30px;
}

#slide:hover{
    box-shadow: 10px 10px 10px rgba(15, 15, 15, 0.8);
    background-color: #454545;
}

#welcome-text {
    padding-bottom: 10px;
    display: flex; 
    align-items: center; 
    margin: 0;
    padding-left: none;
}
