.disabled {
    color: grey;
    text-decoration: line-through;
}

.disabled span {
    color: grey;
    background-color: grey;
    text-decoration: line-through;
}

.disabled p {
    color: grey;
    text-decoration: line-through;
}

.rbx-header .logo {
    background-image: url("/images/NextStyleGuide/logo_R_30X30.svg");
    background-repeat: no-repeat;
    background-size: auto auto;
    width: 30px;
    height: 30px;
    display: inline-block;
    background-size: 30px 30px;
}

.rbx-header .logo-transitional {
    background-image: url("/images/Logo/logo_R.svg");
    background-repeat: no-repeat;
    background-size: auto auto;
    width: 30px;
    height: 30px;
    display: inline-block;
    background-size: 30px;
}

@media(min-width: 1690px) {
    .rbx-header .rbx-nav-collapse {
        display:none;
    }

    .rbx-header .rbx-navbar-header {
        max-width: 120px;
    }

    .rbx-header .logo {
        background-image: url("/images/NextStyleGuide/logo_ROBLOX_120x30.svg");
        background-repeat: no-repeat;
        background-size: auto auto;
        width: 118px;
        height: 30px;
        display: inline-block;
    }

    .rbx-header .logo-transitional {
        background-image: url("/images/Logo/roblox_logo.svg");
        background-repeat: no-repeat;
        background-size: auto auto;
        width: 118px;
        height: 30px;
        display: inline-block;
        background-size: 118px 30px;
    }

    .rbx-header .nav-container .nav-icon {
        display: none;
    }
}

.avatar a img {
    width: 48px;
    height: 48px;
}